<br/>

<div class="track-control">
    <div class="player artwork">
        <img src="{{yt.artwork}}" alt="artwork">
    </div>

    <div class="player controls">
        <div ng-bind="timePlayed"></div>
        <button class="player control fa fa-step-backward" ng-click="prevSong()" ></button>
        <button class="player control fa fa-play" ng-click="sendControlEvent(YT_event.PLAY)" ></button>
        <button class="player control fa fa-step-forward" ng-click="nextSong()" ></button>
    </div>
</div>
<div class="track-info">
    <a target="_blank" ng-href="{{yt.link}}"><span>{{yt.title}}</span></a>
</div>
<br/>

