<div id="" page-wrapper>
    <navigation></navigation>
    <article id="main">
        <div class="container">
            <div class="row">

                <div id="smallLeft" class="wrapper style3 special container ">

                    <h1>Profile</h1>
                    <img src={{vm.user.profilePic}} alt="Profile picture" style="width:128px;height:128px;">

                    <div class="form-group">
                        <label>Pseudo</label>
                        <p>{{ vm.user.name }}</p>
                    </div>
                    <div ng-show="vm.user.email != null">
                        <label>Email</label>
                        <p>{{ vm.user.email }}</p>
                    </div>
                    <div ng-show="vm.personalProfile">
                        <a href="/myPlaylists" class="button">My playlists</a>
                    </div>

                </div>

                <div id="bigRight" class="wrapper style3 special container" ng-show="vm.personalProfile">
                    <strong>Playlist I liked</strong>
                    <div class="playlist" ng-repeat="likedplaylist in vm.likedPlaylists | orderBy: 'Name'">
                            <div class="playlist properties">
                                <div class="playlist name">
                                    <a href="/playlist/{{likedplaylist.PlaylistID}}">{{likedplaylist.Name}}</a>
                                </div>
                                <div class="description">{{likedplaylist.Description}}</div>
                            </div>
                            <div class="playlist controls">
                                By : <a href="/profile/{{likedplaylist.UserID}}">{{likedplaylist.username}}</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="bigRightBis" class="wrapper style3 special container" ng-hide="vm.personalProfile">Public
                    playlists</div>

            </div>
        </div>
    </article>
    <foot></foot>
</div>