    <article id="main">

        <header class="special container">
            <span class="icon fa-user"></span>
            <h2>Login</h2>
        </header>

        <div class="container">

                    <p class="lead">Not a member? Please <a href="/register">register</a> instead.</p>
                <div class="row">
                    <form ng-submit="vm.onSubmit()">
                        <div>
                            <label for="email">Email address</label>
                            <input type="email" class="form-control" id="email" placeholder="Enter email"
                                   ng-model="vm.credentials.email">
                        </div>
                        <div>
                            <label for="password">Password</label>
                            <input type="password" class="form-control" id="password" placeholder="Password"
                                   ng-model="vm.credentials.password">
                        </div>
                        <br/>
                        <div>
                            <button type="submit" class="button special">Sign in!</button>
                        </div>
                    </form>
                </div>

                </div>

    </article>
