<div id="page-wrapper">
    <!-- Main -->
    <article id="main">
        <header class="special container">
            <span class="icon fa-music"></span>
            <h2><strong>{{vm.playlist.Name}}</strong></h2>
            <p><span>{{vm.playlist.Description}}</span><span><abc ng-hide="!vm.playlist.IsPublic"> - Public
            </abc><abc ng-hide="vm.playlist.IsPublic"> - Private</abc> playlist</span>
                </span></p>
            <p><a href="/playlist/{{vm.playlist.ID}}">See playlist</a></p>
            <button class="button small" ng-click="vm.editMode = true" ng-hide="vm.editMode">Edit</button>
            <form ng-show="vm.editMode" class="wrapper style1 special container 75%">
                <div class="onoffswitch">
                    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch"
                           ng-model="vm.tempPlaylist.IsPublic" checked>
                    <label class="onoffswitch-label" for="myonoffswitch">
                        <span class="onoffswitch-inner"></span>
                        <span class="onoffswitch-switch"></span>
                    </label>
                </div>
                <label>Playlist Name : </label><input type="text" ng-model="vm.tempPlaylist.Name">
                <label>Description :</label><input type="text" ng-model="vm.tempPlaylist.Description">
                <button class="button small fa fa-check fa-4x" ng-click="vm.saveEdit()"/>
                <button class="button small fa fa-times-circle fa-4x" ng-click="vm.cancelEdit()"/>
            </form>
        </header>
        <div id="left">
            <div class="wrapper style1 special container 50%" id="playlists">
                <strong>Drag the songs to reorganize them - Don't forget to save after</strong>
                <ul data-as-sortable="vm.dragControlListeners" data-ng-model="vm.tempPlaylist.JsonPlaylist.songs">
                    <li class="playlist playlistRow"
                        data-ng-repeat="song in vm.tempPlaylist.JsonPlaylist.songs"
                        data-as-sortable-item>
                        <div class="playlist item" data-as-sortable-item-handle>
                            <div class="playlist song">
                                <div class="playlist name">{{song.title}}</div>
                                <div class="link"><a target="_blank" href={{song.link}}>Link</a></div>
                            </div>
                            <div class="playlist controls">
                                <span class="fa fa-trash fa-2x playlist control" ng-click="vm.removeSong(song)"></span>
                            </div>
                        </div>

                    </li>
                </ul>
                <button class="button small fa fa-check fa-4x centered" ng-show="vm.songListModified"
                        ng-click="vm.saveEdit()">
                    Save list
                </button>
            </div>
        </div>

        <div id="right">
            <section class="wrapper style4 special container 50%">
                <h2>
                    <strong>Search a new song for this playlist</strong>
                </h2>
                <div class="content">
                    <form ng-submit="vm.searchSong()">
                        <div class="row 100%">
                            <div class="12u">
                                <span for="Search">Search</span>
                                <input id="Search" type="text" name="search" placeholder="search a song"
                                       ng-model="vm.research"/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="12u">
                                <ul class="buttons">
                                    <li><input type="submit" class="button small" value="Search song"/></li>
                                </ul>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="content" ng-hide="vm.YoutubeResults.length == 0">
                    <strong>Youtube Results</strong>
                    <div ng-repeat="result in vm.YoutubeResults" class="result">
                        <div class="likes"><img
                                src="{{result.snippet.thumbnails.default.url}}" alt="Youtube thumbnail">
                        </div>
                        <div class="properties"><a target="_blank"
                                                   href="https://www.youtube.com/watch?v={{result.id.videoId}}">
                            {{result.snippet.title}}</a>
                        </div>
                        <div class="controls clickable">
                            <i class="fa fa-plus fa-2x" ng-click="vm.addYoutube(result)"></i>
                        </div>
                    </div>
                </div>
            </section>
                        <section class="wrapper style4 special container 50%">
                            <h2>
                                <strong>Add a new song to this playlist</strong>
                            </h2>
                            <div class="content">
                                <form ng-submit="vm.addSong()">
                                    <div class="row 100%">
                                        <div class="12u">
                                            <span for="newSongName">Song title</span>
                                            <input id="newSongName" type="text" name="song_title" placeholder="Title"
                                                   ng-model="vm.title"/>
                                        </div>
                                    </div>
                                    <div class="row 100%">
                                        <div class="12u">
                                            <span for="newSongLink">Link</span>
                                            <input id="newSongLink" type="text" name="song_link" placeholder="Link from youtube"
                                                   ng-model="vm.link"/>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="12u">
                                            <ul class="buttons">
                                                <li><input type="submit" class="button small" value="Add to playlist"/></li>
                                            </ul>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </section>

        </div>
        <div class="wrapper style1 special container 75% centered" style="clear: both">
            <button class="button special" ng-click="vm.delete()">Delete playlist</button>
        </div>
    </article>
</div>