<div id="page-wrapper">
    <navigation></navigation>
    <!-- Main -->
    <article id="main">
        <header class="special container">
            <span class="icon fa-music"></span>
            <h2><strong>{{vm.playlist.name}}</strong></h2>
            <p>{{vm.playlist.description}}</p>
            <button class="button small" ng-click="vm.editMode = true" ng-hide="vm.editMode">Edit</button>
            <form ng-show="vm.editMode" class="wrapper style1 special container 75%">
                <input type="text" ng-model="vm.tempPlaylist.name">
                <input type="text" ng-model="vm.tempPlaylist.description">
                <button class="button small fa fa-check fa-4x" ng-click="vm.saveEdit()"/>
                <button class="button small fa fa-times-circle fa-4x" ng-click="vm.cancelEdit()"/>
            </form>

            <div class="wrapper style1 special container 75%" id="playlists">
            <ul data-as-sortable="vm.dragControlListeners" data-ng-model="vm.tempPlaylist.jsonPlaylist.songs">
                <li class="playlist song"
                    data-ng-repeat="song in vm.tempPlaylist.jsonPlaylist.songs"
                    data-as-sortable-item>
                    <div class="playlistProperties" data-as-sortable-item-handle>
                        <span>{{song}}</span>
                        <div class="name">{{vm.indexOfSong(song)}} : {{song.title}}</div>
                        <div class="link"><a href={{song.link}}>Link</a></div>
                    </div>
                </li>
            </ul>
            </div>

            <button class="button small fa fa-check fa-4x" ng-show="vm.songListModified" ng-click="vm.saveEdit()">
                Save list
            </button>
            <form class="add-song wrapper style1 special container 60%" ng-submit="vm.addSong()">
                <input type="text" ng-model="vm.title">
                <input type="text" ng-model="vm.link">
                <button class="button small" type="submit">Add to playlist</button>
            </form>

            <button class="button special" ng-click="vm.delete()">Delete playlist</button>
        </header>
    </article>

    <foot></foot>

</div>


<!--------------------------------SCRIPTS-------------------------------------->

