player{
    position: fixed;
    bottom :0px;
    right: 0px;
    background-color: rgba(221, 211, 211, 0.8);
    width: 300px;
    border-radius: 2px;
    padding-right: 5px;
    padding-left: 5px;
}

player div.track-info{
    text-align: center;
    padding-right: 10px;
    color: #000;
}

.player.control{
    height: 35px;
    width: 35px;
    background-color: rgba(226, 210, 255, 0.71);
    color: black;
}

.track-control{
    display: table;
}
.player.artwork{
    display: table-cell;
}
.player.controls{
    display: table-cell;
}