<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
<body>

<!-- Navbar (sit on top) -->
<div class="w3-top">
    <ul class="w3-navbar w3-white w3-wide w3-padding-8 w3-card-2">
        <li>
            <a href="#home" class="w3-margin-left"><b>DedyWesy</b> M7011E</a>
        </li>
        <!-- Float links to the right. Hide them on small screens -->
        <li class="w3-right w3-hide-small">
            <a href="#playlist" class="w3-left">Playlist</a>
            <a href="#login" class="w3-left">Login</a>
            <a href="#register" class="w3-left w3-margin-right">Register</a>
        </li>
    </ul>
</div>

<!-- Header -->
<header class="w3-display-container w3-content w3-wide" style="max-width:1500px;" id="home">
    <img class="w3-image" src="/Users/Paul/Desktop/test/Headphones-Music.jpg" alt="DEDYWESY" width="1500" height="800">
    <div class="w3-display-middle w3-margin-top w3-center">
        <h1 class="w3-xxlarge w3-grey"><span class="w3-padding w3-text-red">DEDYWESY</span> </h1>
        <h2 class="w3-hide-small w3-text-black w3-small w3-grey"> <span class="w3-padding w3-text-black ">Create your own playlists</span></h2>
    </div>
</header>

<!-- Page content -->
<div class="w3-content w3-padding" style="max-width:1564px">

    <!-- Project Section -->
    <div class="w3-container w3-padding-32" id="projects">
        <h3 class="w3-border-bottom w3-border-light-grey w3-padding-12">Top Playlists</h3>
    </div>

    <div class="w3-row-padding">
        <div class="w3-col l3 m6 w3-margin-bottom">
            <div class="w3-display-container">
                <div class="w3-display-topleft w3-black w3-padding">Playlist1</div>
                <img src="/w3images/house5.jpg" alt="House" style="width:100%">
            </div>
        </div>
        <div class="w3-col l3 m6 w3-margin-bottom">
            <div class="w3-display-container">
                <div class="w3-display-topleft w3-black w3-padding">Playlist2</div>
                <img src="/w3images/house2.jpg" alt="House" style="width:100%">
            </div>
        </div>
        <div class="w3-col l3 m6 w3-margin-bottom">
            <div class="w3-display-container">
                <div class="w3-display-topleft w3-black w3-padding">Playlist3</div>
                <img src="/w3images/house3.jpg" alt="House" style="width:100%">
            </div>
        </div>
        <div class="w3-col l3 m6 w3-margin-bottom">
            <div class="w3-display-container">
                <div class="w3-display-topleft w3-black w3-padding">Playlist4</div>
                <img src="/w3images/house4.jpg" alt="House" style="width:100%">
            </div>
        </div>
    </div>

    <div class="w3-row-padding">
        <div class="w3-col l3 m6 w3-margin-bottom">
            <div class="w3-display-container">
                <div class="w3-display-topleft w3-black w3-padding">Playlist5</div>
                <img src="/w3images/house2.jpg" alt="House" style="width:99%">
            </div>
        </div>
        <div class="w3-col l3 m6 w3-margin-bottom">
            <div class="w3-display-container">
                <div class="w3-display-topleft w3-black w3-padding">Playlist6</div>
                <img src="/w3images/house5.jpg" alt="House" style="width:99%">
            </div>
        </div>
        <div class="w3-col l3 m6 w3-margin-bottom">
            <div class="w3-display-container">
                <div class="w3-display-topleft w3-black w3-padding">Playlist7</div>
                <img src="/w3images/house4.jpg" alt="House" style="width:99%">
            </div>
        </div>
        <div class="w3-col l3 m6 w3-margin-bottom">
            <div class="w3-display-container">
                <div class="w3-display-topleft w3-black w3-padding">Playlist8</div>
                <img src="/w3images/house3.jpg" alt="House" style="width:99%">
            </div>
        </div>
    </div>

    <!-- About Section -->
    <div class="w3-container w3-padding-32" id="about">
        <h3 class="w3-border-bottom w3-border-light-grey w3-padding-12">About Us</h3>
        <p>Just some Exchange Students trying to do good job.
        </p>
    </div>

    <div class="w3-row-padding w3-grayscale w3-small">
        <div class="w3-col l3 m6 w3-margin-bottom">
            <h3>Paul REGINE</h3>
            <p class="w3-opacity">CEO & Founder</p>
            <p>French Exchange student from University of Lorraine in FRANCE.</p>
            <p><button class="w3-btn-block">Contact</button></p>
        </div>
        <div class="w3-col l3 m6 w3-margin-bottom">
            <h3>Emilien BAI</h3>
            <p class="w3-opacity">Architect</p>
            <p>French Exchange student from University of... in FRANCE</p>
            <p><button class="w3-btn-block">Contact</button></p>
        </div>
        <div class="w3-col l3 m6 w3-margin-bottom">
            <h3>Marko FRANJIC</h3>
            <p class="w3-opacity">Architect</p>
            <p>Croatian Exchange student from University of... in CROATIA</p>
            <p><button class="w3-btn-block">Contact</button></p>
        </div>

    </div>

    <!-- Contact Section -->
    <div class="w3-container w3-padding-32" id="contact">
        <h3 class="w3-border-bottom w3-border-light-grey w3-padding-12">Contact</h3>
        <p>Lets get in touch and talk about your and our next project.</p>
        <form action="form.asp" target="_blank">
            <input class="w3-input" type="text" placeholder="Name" required name="Name">
            <input class="w3-input w3-section" type="text" placeholder="Email" required name="Email">
            <input class="w3-input w3-section" type="text" placeholder="Subject" required name="Subject">
            <input class="w3-input w3-section" type="text" placeholder="Comment" required name="Comment">
            <button class="w3-btn w3-section" type="submit">
                <i class="fa fa-paper-plane"></i> SEND MESSAGE
            </button>
        </form>
    </div>

    <!-- End page content -->
</div>

<!-- Google Map -->
<div id="googleMap" class="w3-grayscale" style="width:100%;height:450px;"></div>

<!-- Footer -->
<footer class="w3-center w3-black w3-padding-16">
    <p>Powered by <a href="http://dedywesy.webnode.fr/" title="dedywesy" target="_blank" class="w3-hover-text-green">DedyWesy</a></p>
</footer>

<!-- Add Google Maps -->
<script src="https://maps.googleapis.com/maps/api/js"></script>

<script>
    <!-- Google Map Location -->
    var myCenter = new google.maps.LatLng(65.6, 22.15);

    function initialize() {
        var mapProp = {
            center: myCenter,
            zoom: 12,
            scrollwheel: false,
            draggable: false,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };

        var map = new google.maps.Map(document.getElementById("googleMap"),mapProp);

        var marker = new google.maps.Marker({
            position: myCenter,
        });

        marker.setMap(map);
    }

    google.maps.event.addDomListener(window, 'load', initialize);
</script>

</body>
</html>