<html>
<header><title>MyPlaylist Homepage</title></header>
<body>
<h1>This is the homepage </h1>
And now, let's get to work  guys!!

<a href="https://www.youtube.com/watch?v=4NJlUribp3c">Test</a>

</body>
</html>