<div id="page-wrapper">
    <!-- Main -->
    <article id="main">
        <header class="special container">
            <span class="icon fa-music"></span>
            <h2><strong>{{vm.playlist.Name}}</strong></h2>
            <p><span>{{vm.playlist.Description}}</span>
            <p>
            <span>By :
                <a href="/profile/{{vm.profile.ID}}"> {{vm.profile.name}} </a>
                <a class="fa fa-wrench" ng-show="vm.profile.ID == vm.user._id"
                   href="/editPlaylist/{{vm.playlist.ID}}"> </a>
            </span>
            </p>
            <p class="fa fa-play-circle fa-3x clickable" ng-click="vm.play()"/>
            <br/>
            <div class="fa-stack fa-1x clickable centeredLike">
                <i ng-show="vm.playlist.liked" style="color: plum"
                   class="fa fa-heart fa-stack-2x"
                ></i>
                <i ng-hide="vm.playlist.liked" style="color: grey"
                   class="fa fa-heart fa-stack-2x"
                ></i>
                <strong class="fa-stack-1x fa-stack-text file-text"
                        ng-click="vm.toggleLike(playlist)">
                    {{vm.playlist.likeCount}}</strong>
            </div>

        </header>

        <div id="container" style="width:100%;">
            <div id="left">
                <ul class="wrapper style1 special container 50%">
                    <div class="playlist"
                         data-ng-repeat="song in vm.playlist.JsonPlaylist.songs">
                        <div class="playlist item">
                            <div class="playlist song">
                                <div class="playlist name">{{song.title}}</div>
                                <div class="link"><a target="_blank" href={{song.link}}>Link</a></div>
                            </div>
                        </div>
                    </div>
                </ul>
            </div>
            <div id="right">
                <div class="wrapper style3 special container 50%">
                    <header>Comments :</header>
                    <div ng-repeat="comment in vm.comments | orderBy: 'Date'" class="playlist">
                        <p class="comment">{{comment.Content}}</p>
                        <p class="signature">By <a href="/profile/{{comment.UserID}}">{{comment.Name}}</a></p>
                    </div>
                    <form ng-submit="vm.addComment()">
                        <label>My comment :</label>
                        <input type="text" ng-model="vm.newComment">
                        <input type="submit" value="Post comment">
                    </form>
                </div>

            </div>
        </div>
    </article>

</div>

