<body class="left-sidebar">
<div id="page-wrapper">
    <navigation></navigation>

    <!-- Main -->
    <article id="main">

        <header class="special container">
            <span class="icon fa-laptop"></span>
            <h2>Top <strong>Playlist</strong></h2>
            <p>Here you can find all the top playlists of the moment.</p>
        </header>


        <!-- Three -->
        <section class="wrapper style3 container special">

            <header class="major">
                <h2><strong>Playlists of the moment!</strong></h2>
            </header>

            <div class="row">
                <div class="6u 12u(narrower)">

                    <section>
                        <a href="#" class="image featured"><img src="../images/playlist-illu.jpg" alt=""/></a>
                        <header>
                            <h3>Playlist 1</h3>
                        </header>
                        <p>Best playlist of the moment with the more likes.</p>
                    </section>

                </div>
                <div class="6u 12u(narrower)">

                    <section>
                        <a href="#" class="image featured"><img src="../images/playlist-illu.jpg" alt=""/></a>
                        <header>
                            <h3>Playlist 2</h3>
                        </header>
                        <p>...</p>
                    </section>

                </div>
            </div>
            <div class="row">
                <div class="6u 12u(narrower)">

                    <section>
                        <a href="#" class="image featured"><img src="../images/playlist-illu.jpg" alt=""/></a>
                        <header>
                            <h3>Playlist 3</h3>
                        </header>
                        <p>...</p>
                    </section>

                </div>
                <div class="6u 12u(narrower)">

                    <section>
                        <a href="#" class="image featured"><img src="../images/playlist-illu.jpg" alt=""/></a>
                        <header>
                            <h3>Playlist 4</h3>
                        </header>
                        <p>...</p>
                    </section>

                </div>
            </div>

            <footer class="major">
                <ul class="buttons">
                    <li><a href="#" class="button">See More</a></li>
                </ul>
            </footer>

        </section>
    </article>
    <foot></foot>
</div>


