<div id="page-wrapper">

    <navigation></navigation>

    <!-- Main -->
    <article id="main">

        <header class="special container">
            <span class="icon fa-music"></span>
            <h2><strong>My Playlists</strong></h2>
            <p>What do you want to listen to today ?</p>
        </header>

        <div class="wrapper style1 special container 75%" id="playlists">
            <div class="playlist" ng-repeat="playlist in vm.playlists">
                <div class="playlistProperties">
                    <div class="name">{{playlist.name}}</div>
                    <div class="description">{{playlist.description}}</div>
                </div>
                <div class="playlistControls">
                    <span class="fa fa-wrench fa-3 control" ng-click="vm.edit(playlist)"></span>
                    <span class="fa fa-play fa-3 control" ng-click="vm.play(playlist)"></span>
                </div>


            </div>
        </div>

        <!-- One -->
        <section class="wrapper style4 special container 75%">
            <h2><stron>Add a new one ;)</stron></h2>
            <!-- Content -->
            <div class="content">
                <form ng-submit="vm.addPlaylist()">
                    <div class="row 100%">
                        <div class="12u">
                            <span for="newPlaylistName">Playlist name</span>
                            <input id="newPlaylistName" type="text" name="playlist_name" placeholder="Name" ng-model="vm.newPlaylist.name"/>
                        </div>
                    </div>
                    <div class="row 100%">
                        <div class="12u">
                            <span for="newPlaylistDescription">Description</span>
                            <input id="newPlaylistDescription" type="text" name="description" placeholder="Description" ng-model="vm.newPlaylist.description" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="12u">
                            <ul class="buttons">
                                <li><input type="submit" class="special" value="Create" /></li>
                            </ul>
                        </div>
                    </div>
                </form>
            </div>

        </section>
    </article>

<foot></foot>

</div>
